/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.min.rb
*.gem

specs
.serena/
.specify
.claude
.DS_Store
CLAUDE.md
.gem_rbs_collection/
dev/
benchmark_output/
gem_tests/
mise.toml
